<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form method="get"
	action="http://betterfbo.us3.list-manage1.com/subscribe/post-json?u=09b4a7bab5a78abdfc44d13ca&id=ef9152a30f&c=?"
	id="mc-embedded-subscribe-form"
	name="mc-embedded-subscribe-form"
	class="validate"
	target="_blank"
	novalidate> 
    <div class="mc-field-group required">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter email">
    </div>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_09b4a7bab5a78abdfc44d13ca_ef9152a30f" value=""></div>

    <div class="mc-field-group">
      <input type="submit" value="Register Now for Updates!" name="subscribe" id="mc-embedded-subscribe" class="button">
      <div class="hate-spam">
	Like you, we hate spam too. See our <a href="/privacy">privacy policy</a>.
      </div>
    </div>

    <div id="notification-container"></div>
  </form>
</div>

<!--End mc_embed_signup-->

<script src="{{ root_url }}/javascripts/libs/jquery/jquery.validate.min.js"></script>
<script type="text/javascript">
    // Use the jQuery form validation plugin.
    $('form#mc-embedded-subscribe-form').validate()

    // Intercept the form submission, and send via Ajax instead.
    $(document).ready( function () {
	var myForm = $('form#mc-embedded-subscribe-form');
	if ( myForm.length > 0 ) {
            $('form input[type="submit"]').bind('click', function ( event ) {
		if ( event ) event.preventDefault();
		if ( myForm.valid() ) { mcRegister(myForm); }
            });
	}
    });

    // Send the registration request to MailChimp.
    function mcRegister($form) {
        $.ajax({
	    type: $form.attr('method'),
	    url: $form.attr('action'),
	    data: $form.serialize(),
	    cache       : false,
	    dataType    : 'json',
	    contentType : "application/json; charset=utf-8",
	    error       : function(err) { mcConnectionError(); },
	    success     : function(data) {
		if (data.result != "success") {
		    mcError($form, data);
		} else {
		    mcSuccess($form, data);
		}
	    }
	});
    }
    function mcSuccess($form, $data) {
        var message = $data.msg;
        $('#notification-container').html('<div class="alert alert-success">' + message + '</div>');
    }
    function mcError($form, $data) {
        var message = $data.msg;
        $('#notification-container').html('<div class="alert alert-danger">' + message + '</div>');
    }
    function mcConnectionError() {
        $('#notification-container').html('<div class="alert alert-danger">Could not connect to server. Please try again later.</div>');
    }
</script>
