/* Colors we like */
$background:                 #ffffff;
$nav-background:             #101065;
$nav-text:                   #ffffff;
$nav-text-highlight:         #e9e9ff;
$text:                       #222222;
$header:                     #101065;
$header-highlight:           #18189a;
$light-header:               #18189a;
$sidebar-header-background:  #e9e9fc;
$sidebar-header-text:        #222222;
$sidebar-item-highlight:     #f6f6fe;
$accent:                     #d0f0f0;


/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
footer[role=contentinfo] {
  height: 60px;
}


/* Custom fonts */
h1, h2, h3, h4, h5, h6 {
  color: $header;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
}
p.lead {
  color: $light-header;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}


/* Adjust the styling from the nav element */
header[role=banner] {
  background-color: $nav-background;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid scale-lightness($nav-background, 30%);
  padding: 0;

  nav.navbar {
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;

    a.navbar-brand {
      background-image: url('/images/logo-white-sm.png');
      content: '';
      height: 40px;
      margin: 10px 0 5px 0;
      width: 186px;
    }

    .navbar-nav > li > a {
      color: $nav-text;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 20px 0 0 30px;
      padding: 0;

      &:hover {
	color: $nav-text-highlight;
	text-decoration: none;
      }
    }

    .navbar-nav > li.active > a {
      background: none;
      color: $nav-text-highlight;
    }
  }
}


/* Styling for the main argument block */
#content {
  margin: 20px 0;
}


/* Page header should be centered and set off from text */
.page-header {
  margin-bottom: 10px;
  text-align: center;

  p.meta {
    margin-bottom: 10px;
  }

  h1 {
    color: $header;
    font-size: 48px;
    text-shadow: 1px 1px 1px #ccc;

    &.entry-title {
      font-size: 34px;

      a {
	color: $header;
      }

      a:hover {
	color: $header-highlight;
	text-decoration: none;
      }
    }
  }
}


/* Space meta information out a little */
p.meta {
  margin-bottom: 10px;
  text-align: left;

  .glyphicon {
    margin-left: 15px;
  }

  span:first-child {
    margin-left: 0;
  }
}


/* Layouts for images and figures / images with captions */
.entry-content > img, .entry-content > figure {
  border-radius: 2px;
  margin: 20px;

  &.center {
    display: table;
    margin: 20px 0;
    text-align: center;
  }

  &.left {
    float: left;
    margin: 20px 50px 20px 0;
  }

  &.right {
    float: right;
    margin: 20px 0 20px 50px;
  }

  figcaption {
    color: #966;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
  }
}


/* Sidebar formatting */
.sidebar {

  /* No formatting for ULs */
  ul {
    list-style: none;
    padding-left: 0;
  }

  /* Sidebar titles */
  .panel-default > .panel-heading {
    @include border-top-radius(5px);
    background: $sidebar-header-background;
    color: $sidebar-header-text;
  }

  /* Sidebar highlighted items */
  a.list-group-item {
    &.active, &:focus, &:hover {
      background: $sidebar-item-highlight;
      border-color: $sidebar-item-highlight;
      color: $text;
      text-shadow: none;
    }
  }

  /* Pretty-up the Pinboard output */
  #pinboard_linkroll {
    .pin-title {
      font-weight: bold;
    }
    .pin-description {
      display: block;
    }
    .pin-tag {
      display: none;
    }
  }
}


/* MailChimp forms - general stuff */
#mc_embed_signup {
  background: rgba(255,255,255,0);

  .indicates-required {
    @extend .pull-right;
    font-size: 14px;
  }

  span.asterisk {
    @extend .glyphicon;
    @extend .glyphicon-asterisk;
    color: #cc6600;
  }

  form {
    padding-top: 0;

    label, input {
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    label {
      @extend .control-label;
    }

    input:not([type=submit]) {
      @extend .form-control;
    }

    label.error {
      @extend .text-warning;
      font-size: 14px;
      font-weight: normal;
      margin-left: 3px;
    }

    input.error {
      @extend .has-error;
    }

    input.button, input[type=submit], input[type=button] {
      @extend .btn;
      @extend .btn-warning;
      @extend .btn-lg;
      @extend .btn-block;
      font-weight: bold;
      height: auto;
    }

    .mc-field-group {
      @extend .form-group;
      margin-bottom: 5px;

      &.required {
	@extend .has-feedback;

	span.asterisk {
	  @extend .form-control-feedback;
	}
      }
    }
  }

  #notification-container {
    margin-top: 15px;
  }
}
.hate-spam {
  @extend .center-block;
  @extend .text-info;
  margin-top: 10px;
  text-align: center;
}


/* For the home page and other landing pages */
body#home {

  /* First column text */
  .case-copy {
    @extend .col-md-6;
    font-size: 18px;
  }

  /* Second column form */
  .contact-form {
    @extend .col-md-offset-1;
    @extend .col-md-5;
    @include border-radius(10px);
    background-color: $accent;

    h3 {
      color: $header;
      margin: 20px 0;
      text-align: center;
    }

    p {
      font-size: 18px;
      margin: 0 15px 10px;
    }

    #mc_embed_signup {
      background: inherit;
      margin: 20px 15px;

      input.button {
	font-size: 24px;
	margin-top: 20px;
      }

      label, input {
	font-size: 18px;
      }

      label.error {
	font-size: 14px;
      }
    }
  }
}


/* Common styles for blog pages */
body#blog-index,
body#blog-post,
body#blog-archive {

  /* Change style of the "More" button */
  a[rel=full-article] {
    @extend .btn-info;
    @include border-radius(4px);
  }

  /* Get rid of the pill-like lower navigation */
  .pager li>a, .pager li>span {
    @include border-radius(8px);
  }

  #contact-form {
    @include border-radius(3px);
    @extend .center-block;

    background: #f8f8ff;
    border: 2px dotted #169fff;
    margin: 20px auto;
    max-width: 60%;
    padding: 15px 30px;

    form {
      margin-top: 25px;

      .mc-field-group {
	@extend .center-block;
	margin-bottom: 2px;
	min-height: auto;
	padding: 0;

	label, input:not([type=submit]) {
	  font-size: 16px;
	  text-shadow: none;
	}

	input.button, input[type=submit] {
	  @extend .btn-primary;
	  font-size: 18px;
	  margin: 20px auto 0 auto;
	  padding: 10px 16px;
	  width: auto;
	}
      }
    }
  }
}


/* Styles for blog archive page */
body#blog-archive {
  h1 {
    font-size: 32px;

    a {
      color: $header;

      &:hover {
	color: $header-highlight;
	text-decoration: none;
      }
    }
  }
}